.story__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.story__content {
  padding: 5vw;
  border-right: 1px solid #000;
}

.story__title {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right;
  font-family: Italiana, sans-serif;
  font-size: 12vw;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.story__text,
.owner__text {
  font-size: 1rem;
  margin: 40px 0;
  font-weight: 300;
}

.story__image-wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.story__image {
  position: relative;
  overflow: hidden;
  width: 24vw;
}

.story__img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-image: url("../image/pic13.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.owner {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2d7d7;
  border: 1px solid;
  border-color: #000 transparent #000 transparent;
}

.owner__wrap {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(2, 50%);
}

.owner__image-wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.owner__image {
  overflow: hidden;
  width: 24vw;
}

.vertical-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 140%;
}

.owner__img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-image: url("../image/pic14.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.owner__content-wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.owner__content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  padding: 5vw;
}

.owner__title-wrap {
  position: relative;
  left: -10vw;
  text-align: left;
}

.owner__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Italiana, sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
}

.owner__signature {
  width: 124px;
}

.statements {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw 0;
}

.statement-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 2000px;
  padding: 5vw;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.statement__title-wrap {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.statement__title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Italiana, sans-serif;
  font-size: 7vw;
  line-height: 1.2;
  font-weight: 400;
  text-transform: capitalize;
}

.statements__wrap {
  margin-top: 80px;
}

.statement {
  position: relative;
}

.statement__wrap {
  display: grid;
  padding: 60px 0;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid;
  border-color: #000 transparent transparent transparent;
}

.statement:last-child .statement__wrap {
  border-color: #000 transparent #000 transparent;
}

.statement__content--title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Italiana, sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
}

.statement__content--text {
  font-size: 1rem;
  line-height: 26px;
  font-weight: 300;
  margin: 10px 0 40px;
}

.statement__number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.statement__bullet {
  display: flex;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 100px;
  font-size: 40px;
  text-align: center;
}
