/*==== Using "Poppins" fonts from fonts.google.com ====*/
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@200;300;400;500;600;700&display=swap");

/*==== CSS variables ====*/
:root {
  --header-height: 3rem;

  --body-color: #f4f2f2;

  /*==== Font and typography ====*/
  --body-font: "Poppins", sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*==== Font-weight ====*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*==== z-index ====*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*==== "font-size" for large devices ====*/
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*==== Base ====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==== Layout ====*/
.grid {
  display: grid;
  gap: 1.5rem;
}

/* =-= Header Area =-= */
.header {
  width: 100%;
  position: relative;
}

.nav {
  height: 80px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.nav__logo {
  display: block;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 80px;
  display: flex;
  align-items: flex-end;
}

.nav__logo-img {
  width: 130px;
}

.dropdown {
  position: fixed;
  top: 0;
  left: -100%;
  width: 500px;
  height: 100vh;
  min-height: 600px;
  background-color: #f4f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4.8rem;
  border-right: 1px solid #000;
  z-index: 0;
  transition: all 0.5s ease;
}

.dropdown a {
  font-family: Italiana, sans-serif;
  color: #000;
  font-size: 22px;
  margin-bottom: 20px;
  cursor: pointer;
}

.dropdown a:hover {
  color: #907070;
}

.nav__list {
  display: flex;
}

.nav__link {
  display: block;
  position: relative;
  color: #222222;
  font-weight: 300;
  margin-right: 40px;
  padding: 3px 0;
  transition: all 0.5s ease-in-out;
}

.nav__link.shop:hover ~ .dropdown {
  left: 0;
}

.nav__link:hover {
  color: #907070;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #907070;
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}

.nav__link:hover::after {
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transform: scaleX(1);
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 5vw;
  margin-top: 24px;
  display: flex;
  height: 50px;
  align-items: center;
  z-index: var(--z-fixed);
}

.cart__input {
  width: 120px;
  height: 36px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  background-color: transparent;
  border: 1px solid;
  border-color: transparent transparent #3d3a31 transparent;
  outline: none;
  font-style: italic;
  font-weight: 300;
  opacity: 0;
  transform: translateX(140px);
  transition: transform 500ms ease-in-out, opacity 200ms ease-in-out;
}

.cart__search:hover .cart__input {
  opacity: 1;
  width: 120px;
  transform: translateX(0);
}

.cart__input:focus {
  border-color: transparent transparent #3898ec transparent;
}

.cart__search {
  margin-right: 57px;
  margin-top: 6px;
  overflow: hidden;
}

.cart__area {
  display: flex;
  align-items: center;
}

.cart__search--icon,
.cart__area--icon {
  width: 15.5px;
  font-weight: 300;
  color: #222222;
  cursor: pointer;
}

.cart__area--icon {
  margin-right: 10px;
  width: 18px;
}

.cart__count {
  width: 40px;
  height: 40px;
  background-color: #907070;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.cart__count:hover {
  background-color: #000;
}

/* =-= Hero Section =-= */
.hero {
  height: 100vh;
  min-height: 800px;
}

.hero-container,
.sell-container,
.outfit-container,
.feature-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 2000px;
  padding: 6vw;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 0;
}

.hero__images-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.hero__img {
  flex-basis: 1;
  position: relative;
}

.hero__img.one {
  top: 11vw;
  width: 41vw;
  background: url(../image/pic1.jpg) no-repeat;
  background-size: cover;
}

.hero__img.two {
  top: 21vh;
  width: 18vw;
  background: url(../image/pic2.jpg) no-repeat;
  background-size: contain;
}

.hero__content {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero__content--title {
  display: flex;
  width: 100%;
  margin-bottom: 15vh;
  justify-content: center;
  align-items: center;
}

.hero__title-wrap {
  width: 60%;
  margin-left: 5vw;
}

.hero__title {
  font-family: "Italiana", serif;
  font-size: 8vw;
  line-height: 0.9;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

.hero__content--button {
  display: flex;
  width: 100%;
  height: 20%;
  padding-right: 5vw;
  padding-left: 5vw;
  justify-content: center;
  align-items: center;
}

.hero__btn {
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0 0 0 rgba(144, 112, 112, 0.2);
  transition: box-shadow 0.5s ease-in-out;
}

.hero__btn:hover {
  box-shadow: inset 0 -70px 10px rgba(144, 112, 112, 0.2);
}

/* =-= Sell Section =-= */
.sell {
  height: 100vh;
}

.sell__title--wrap {
  display: flex;
  width: 50vw;
  margin-top: 25vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sell__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Italiana, sans-serif;
  font-size: 70px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: capitalize;
}

/* =-= Outfit Section =-= */
.outfit {
  height: 100vh;
}

.outfit__preview {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
  height: 100%;
  grid-column-gap: 80px;
}

.outfit__title-wrap {
  position: relative;
  top: 40px;
  right: -37.5vw;
  width: 60%;
  margin-bottom: 80px;
  text-align: right;
  z-index: 1;
}

.outfit__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Italiana, sans-serif;
  font-size: 12vw;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.outfit__text {
  font-family: Italiana, sans-serif;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 20px;
}

.outfit__owner {
  font-size: 13px;
  color: #907070;
}

.outfit__category {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.outfit__image-wrap {
  position: relative;
  display: flex;
  width: 30vw;
  max-width: 600px;
}

.outfit__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 140%;
  background-image: url("../image/pic3.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.outfit__img.bag {
  background-image: url("../image/pic4.jpg");
}

.outfit__img.jeans {
  background-image: url("../image/pic5.jpg");
}

.outfit__category.bag {
  justify-content: flex-start;
}

.outfit__title-wrap.bag {
  right: 20.2vw;
  text-align: left;
}

.outfit__text.bag {
  text-align: right;
}

/* =-= Feature Section =-= */
.feature-container {
  border: 1px solid;
  border-color: #000 transparent #000 transparent;
  background-color: #e2d7d7;
  margin-top: 8vw;
}

.feature__title {
  margin-bottom: 10px;
  font-family: Italiana, sans-serif;
  font-size: 70px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: capitalize;
}

.feature__pieces {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 45px;
  align-items: center;
}

.feature__piece {
  width: 50%;
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
}

.feature__body {
  margin-top: 10px;
}

.feature__pieces--title {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.feature__pieces--price {
  opacity: 0.5;
  color: #000;
  font-size: 14px;
}

/* =-= Service Section =-= */
.service-container {
  position: relative;
  width: 100%;
  max-width: 2000px;
  border: 1px solid;
  border-color: transparent transparent #000 transparent;
}

.services__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service {
  padding: 10vw 5vw 5vw;
  height: 100%;
  border-right: 1px solid #000;
}

.service__circle {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
}

.service__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Italiana, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
}

.service__text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1rem;
  font-weight: 300;
}

.service:last-child {
  border-right: none;
}

/* =-= Instagram Section =-= */
.instagrams {
  border: 1px solid;
  border-color: transparent transparent #000 transparent;
}

.instagrams-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 2000px;
  padding: 5vw;
  flex-wrap: nowrap;
  align-items: center;
}

.instagrams__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Italiana, sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
}

.instagrams__icon {
  display: block;
  margin-left: 20px;
  width: 28px;
  height: 28px;
}

.instagrams__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.instagram {
  height: 375px;
}

.instagram img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =-= Megamenu Section =-= */
.megamenus-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 2000px;
  padding: 6vw;
  border: 1px solid;
  border-color: transparent transparent #000 transparent;
}

.megamenus__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.megamenus__logo {
  width: 100%;
}

.megamenus__logo-img {
  width: 120px;
  margin-bottom: 12px;
}

.megamenu__list p {
  display: block;
  padding: 0 10px 20px;
  font-style: italic;
  font-size: 14px;
  color: #3d3a31;
}

.megamenu__list p span {
  color: #907070;
}

.megamenu__title {
  margin-bottom: 10px;
  font-family: Italiana, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 40px;
}

.megamenu__link {
  display: block;
  margin-bottom: 5px;
  color: #000;
  font-size: 1rem;
  font-weight: 300;
}

/* =-= Footer Section =-= */
.footer__top {
  width: 100%;
  height: 100%;
  max-width: 2000px;
  border: 1px solid;
  border-color: transparent transparent #000 transparent;
  padding: 40px 6vw;
  display: flex;
  align-items: center;
}

.footer__top-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Italiana, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
  margin-right: 3rem;
}

.footer__top-email-box {
  display: flex;
  width: 55%;
}

.footer__top-input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 8px 12px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.428;
  color: #333;
  margin-right: 10px;
  border: 1px solid;
  border-color: transparent transparent #000 transparent;
  background-color: rgba(244, 242, 242, 0.3);
  outline: none;
}

.footer__top-input::placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #999;
  font-weight: 300;
}

.footer__top-btn {
  display: flex;
  height: 50px;
  padding: 0 40px;
  justify-content: center;
  align-items: center;
  background-color: #907070;
  transition: opacity 200ms ease;
  font-family: Poppins, sans-serif;
  color: #f6f7f0;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 300;
  border: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer__top-btn:hover {
  opacity: 0.8;
}

.footer__main {
  padding: 0 5vw;
  display: flex;
  background-color: #907070;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.footer__copyright-text,
.footer__main-list-item {
  margin-right: 40px;
  color: #000;
  font-size: 9px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__main-list-item span {
  color: #fff;
}

.footer__main-list-item.btn {
  padding: 6px;
  background-color: rgba(244, 242, 242, 0.2);
  color: #fff;
}

.toggle-btn {
  display: none;
  margin-left: 1rem;
}

.toggle-btn button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.toggle__icon {
  font-size: 2rem;
  margin-top: 7px;
}

.fixedNav {
  width: 100%;
  background-color: #f4f2f2;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #000;
}

.nav__logo--alt {
  width: 110px;
  display: none;
  position: fixed;
  top: 10px;
  left: 0;
  margin-left: 5vw;
  margin-top: 24px;
  z-index: var(--z-fixed);
}

.nav__search {
  width: 100%;
  display: none;
  flex-direction: column;
  margin-top: 5rem;
}

.nav__input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid #000;
  font-family: var(--body-font);
  display: block;
  margin-bottom: 10px;
}

::placeholder {
  font-family: var(--body-font);
  font-size: 1rem;
}

.nav__search--icon {
  width: 28px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

/* =-= Media Query =-= */
@media screen and (max-width: 768.98px) {
  .cart__search {
    display: none;
  }

  .toggle-btn {
    display: block;
  }

  .nav__logo--alt {
    display: block;
  }

  .nav__menu {
    position: absolute;
    top: 0;
    left: -40%;
    width: 0;
    height: 100vh;
    background-color: #e2d7d7;
    display: flex;
    align-items: center;
    padding-left: 0;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav__list {
    flex-direction: column;
    width: 100%;
    padding-right: 5vw;
  }

  .nav__link {
    padding-top: 20px;
    font-size: 22px;
  }

  .nav__link:hover::after {
    transform: scaleX(0);
  }

  .nav__logo {
    display: none;
  }

  .nav__search {
    display: flex;
  }

  .hero__img.one {
    top: 17rem;
    width: 41vw;
    height: 28rem;
  }

  .hero__title-wrap {
    width: 70%;
  }

  .hero__img.two {
    top: 15vh;
    width: 25vw;
  }

  .outfit__preview {
    grid-template-columns: 1fr;
  }

  .outfit__category {
    order: 1;
  }

  .outfit__image-wrap {
    width: 38vw;
  }

  .outfits {
    left: 0;
    text-align: left;
  }

  .outfit__category {
    justify-content: flex-start;
    margin-top: 2rem;
  }

  .outfit__title-wrap.bag {
    width: 100%;
    right: 0;
    text-align: right;
  }
  .outfit {
    height: fit-content;
  }

  .outfit__title-wrap {
    top: 0;
    margin-bottom: 20px;
  }

  .sell__title--wrap {
    margin-top: 0;
  }

  .sell__title--wrap {
    width: 80vw;
  }

  .feature__piece {
    width: 100%;
  }

  .feature__pieces {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
  }

  .services__wrap {
    grid-template-columns: 1fr;
  }

  .service {
    border-bottom: 1px solid #000;
    border-right: none;
  }

  .service:last-child {
    border-bottom: none;
  }

  .instagrams__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .megamenu:nth-child(2) {
    grid-column: 2/2;
  }

  .megamenu:nth-child(3) {
    grid-column: 4/6;
  }

  .megamenu:nth-child(4) {
    grid-column: 2/4;
  }

  .megamenu:nth-child(5) {
    grid-column: 4/6;
  }

  .megamenus__wrap {
    row-gap: 2rem;
  }

  .megamenu {
    padding-left: 1rem;
  }

  .footer__top {
    flex-direction: column;
  }

  .footer__top-title {
    margin-right: 0;
  }

  .footer__top-email-box {
    width: 100%;
    flex-direction: column;
  }

  .footer__top-input {
    margin-bottom: 0.5rem;
  }

  .footer__main {
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
  }

  .footer__copyright {
    order: 1;
    margin-top: 1rem;
  }

  .footer__main-list-item {
    display: block;
    margin-right: 0;
    text-align: center;
    margin-bottom: 1rem;
  }

  .footer__copyright-text {
    margin-right: 0;
  }
}

@media screen and (max-width: 576.98px) {
  .hero__img.one {
    top: 21rem;
    width: 45vw;
    height: 25rem;
  }

  .sell__title,
  .feature__title {
    font-size: 50px;
  }

  .sell {
    height: fit-content;
  }

  .feature__pieces {
    grid-template-columns: repeat(1, 1fr);
  }

  .instagram {
    height: 250px;
  }

  .megamenus__wrap {
    grid-template-columns: 1fr;
  }

  .megamenu:nth-child(2) {
    grid-column: 1;
  }

  .megamenu:nth-child(3) {
    grid-column: 1;
  }

  .megamenu:nth-child(4) {
    grid-column: 1;
  }

  .megamenu:nth-child(5) {
    grid-column: 1;
  }
}

@media screen and (max-width: 400.98px) {
  .hero__img.one {
    top: 20rem;
    width: 50vw;
    height: 17rem;
  }

  .hero__img.two {
    top: 15vh;
    width: 36vw;
  }

  .hero__title {
    font-size: 16vw;
  }

  .outfit__image-wrap {
    width: 50vw;
  }

  .megamenus__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature__title {
    font-size: 36px;
  }

  .instagrams__title {
    font-size: 32px;
  }
}
